@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Rubik:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: max-content max-content max-content;
      grid-template-rows: -webkit-max-content -webkit-max-content -webkit-max-content;
      grid-template-rows: max-content max-content max-content;
  grid-row-gap: 7.5rem;
  background-color: #fef8f5;
  font-family: "Rubik", sans-serif;
}

header {
  padding: 1.5rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: inherit;
      grid-template-columns: inherit;
  z-index: 5;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
}

header nav {
  -ms-grid-column: 7;
  -ms-grid-column-span: 5;
  grid-column: 7/12;
  justify-self: flex-start;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul li {
  margin-right: 0.5rem;
}

header nav ul li a {
  padding: 1.25rem 1.5rem;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #ffffff;
}

header nav ul li:last-child {
  margin-right: 0;
}

header nav ul li:last-child a {
  background-color: #ee4d47;
  border-radius: 0.25rem;
}

.hero {
  grid-column: 1/-1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1/5;
  background-image: url(/src/asset/back.svg);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: inherit;
      grid-template-columns: inherit;
  -ms-grid-rows: 8rem max-content 3.75rem max-content 11.25rem 24.625rem;
      grid-template-rows: 8rem -webkit-max-content 3.75rem -webkit-max-content 11.25rem 24.625rem;
      grid-template-rows: 8rem max-content 3.75rem max-content 11.25rem 24.625rem;
  -ms-grid-rows: 11.875rem max-content 3.75rem max-content 11.25rem 24.625rem;
      grid-template-rows: 11.875rem -webkit-max-content 3.75rem -webkit-max-content 11.25rem 24.625rem;
      grid-template-rows: 11.875rem max-content 3.75rem max-content 11.25rem 24.625rem;
  color: #ffffff;
}

.hero h1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2/8;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  font-family: "DM Serif Display", serif;
  font-size: 6.25rem;
  line-height: 6.25rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  z-index: 1;
}

.hero .btn {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  padding: 1.25rem 1.5rem;
  background-color: #ee4d47;
  border-radius: 0.25rem;
  -ms-grid-column-align: start;
      justify-self: start;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  z-index: 1;
}

.hero .truck {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/6;
  background-image: url(/src/asset/mobel.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.about {
  grid-column: 4/-2;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: inherit;
      grid-template-columns: inherit;
  -ms-grid-rows: 4.625rem auto 2.5rem auto 4.375rem auto;
      grid-template-rows: 4.625rem auto 2.5rem auto 4.375rem auto;
}

.about h2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 0.1em;
  color: #ee4d47;
}

.about .classic {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/6;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 2.5rem;
  color: #402b2b;
}

.about .special {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
  background: #fcddd4;
  font-size: 1.5rem;
  font-weight: 500;
  color: #402b2b;
  border-left: 0.625rem solid #ed4d47;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 1.875rem 3.419375rem;
}

.about .delivery-man {
  -ms-grid-column: 6;
  -ms-grid-column-span: 6;
  grid-column: 6/12;
  grid-row: 1/-1;
  background-image: url(/src//asset/about.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.how-to {
  grid-column: 3/-2;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: inherit;
      grid-template-columns: inherit;
  -ms-grid-rows: max-content 2.5rem auto;
      grid-template-rows: -webkit-max-content 2.5rem auto;
      grid-template-rows: max-content 2.5rem auto;
}

.how-to h2 {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -ms-grid-column: 6;
  -ms-grid-column-span: 3;
  grid-column: 6/9;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 0.1em;
  color: #ee4d47;
}

.how-to .classic {
  -ms-grid-column: 6;
  -ms-grid-column-span: 5;
  grid-column: 6/11;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 2.5rem;
  color: #402b2b;
}

.how-to .customer-care {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/6;
  grid-row: 1/-1;
  background-image: url(/src//asset/apply.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.faq {
  grid-column: 4/-1;
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7/8;
  position: relative;
  z-index: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: inherit;
      grid-template-columns: inherit;
  -ms-grid-rows: 6.375rem 7.625rem max-content 2.75rem 12.5rem 5rem 5.625rem auto 13.875rem;
      grid-template-rows: 6.375rem 7.625rem -webkit-max-content 2.75rem 12.5rem 5rem 5.625rem auto 13.875rem;
      grid-template-rows: 6.375rem 7.625rem max-content 2.75rem 12.5rem 5rem 5.625rem auto 13.875rem;
}

.faq::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 10%;
  bottom: 0;
  background: #fdede8;
  border-top-left-radius: 6.25rem;
  z-index: 0;
}

.faq h2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 0.1em;
  color: #ee4d47;
  z-index: 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.faq .classic {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  color: #402b2b;
  z-index: 1;
  font-family: "DM Serif Display", serif;
  font-size: 3rem;
  font-weight: 400;
  line-height: 4.1875rem;
  letter-spacing: 0em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.faq .man-thinking {
  -ms-grid-column: 6;
  -ms-grid-column-span: 6;
  grid-column: 6/12;
  -ms-grid-row: 2;
  -ms-grid-row-span: 5;
  grid-row: 2/7;
  background-image: url(/src/asset/faq.svg);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}

.faq .questions {
  z-index: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8/9;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[9];
      grid-template-columns: repeat(9, 1fr);
  grid-row-gap: 0.625rem;
  grid-column-gap: 1.25rem;
}

.faq .questions > li {
  background-color: #ffffff;
  padding: 1.5625rem 7.17125rem;
  padding-left: 2.1875rem;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  position: relative;
  cursor: pointer;
  border-radius: 0.625rem;
}

.faq .questions > li:nth-child(even) {
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5/9;
}

.faq .questions > li:nth-child(odd) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
}

.faq .questions > li::before {
  content: "";
  position: absolute;
  background-image: url(/src/asset/+.svg);
  right: 2.1875rem;
  top: 50%;
  width: 1.25rem;
  height: 1.25rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.faq .answers {
  display: none;
}

.contact {
  grid-column: 1/-2;
  -ms-grid-row: 8;
  -ms-grid-row-span: 6;
  grid-row: 8/14;
  background-image: url(/src/asset/footerBg.svg);
  background-size: contain;
  background-repeat: no-repeat;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 3.75rem 13.125rem auto 4.375rem 11.25rem max-content 8.25rem;
      grid-template-rows: 3.75rem 13.125rem auto 4.375rem 11.25rem -webkit-max-content 8.25rem;
      grid-template-rows: 3.75rem 13.125rem auto 4.375rem 11.25rem max-content 8.25rem;
  -ms-grid-columns: inherit;
      grid-template-columns: inherit;
}

.contact p {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
  color: #ffffff;
  padding: 0.625rem 2.5rem;
  padding-right: 0;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.875rem;
  border-left: 0.625rem solid #ed4d47;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.contact form {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  -ms-grid-column: 7;
  -ms-grid-column-span: 5;
  grid-column: 7/12;
  background-color: #ffffff;
  border-radius: 0.625rem;
  -webkit-box-shadow: 0px 1.25rem 2.5rem 0px #ee4d471a;
          box-shadow: 0px 1.25rem 2.5rem 0px #ee4d471a;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[9];
      grid-template-columns: repeat(9, 1fr);
  -ms-grid-rows: 3.25rem [label1-start] max-content [label1-end] 0.625rem [input1-start] max-content [input1-end] 1.875rem [label2-start] max-content [label2-end] 0.625rem [input2-start] max-content [input2-end] 30px [btn-start] max-content [btn-end] 3.25rem;
      grid-template-rows: 3.25rem [label1-start] -webkit-max-content [label1-end] 0.625rem [input1-start] -webkit-max-content [input1-end] 1.875rem [label2-start] -webkit-max-content [label2-end] 0.625rem [input2-start] -webkit-max-content [input2-end] 30px [btn-start] -webkit-max-content [btn-end] 3.25rem;
      grid-template-rows: 3.25rem [label1-start] max-content [label1-end] 0.625rem [input1-start] max-content [input1-end] 1.875rem [label2-start] max-content [label2-end] 0.625rem [input2-start] max-content [input2-end] 30px [btn-start] max-content [btn-end] 3.25rem;
}

.contact form label {
  font-size: 1rem;
  font-weight: 300;
  line-height: 2.5rem;
  grid-column: 2/-2;
}

.contact form label[for="userName"] {
  grid-row: label1-start/label1-end;
}

.contact form label[for="email"] {
  grid-row: label2-start/label2-end;
}

.contact form input[type="text"], .contact form input[type="email"] {
  grid-column: 2/-2;
  border-radius: 0.3125rem;
  border: 1px solid #ee4d4780;
  outline: 0.125rem solid transparent;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 2.5rem;
  padding: 0.75rem 2.5rem;
  -webkit-box-shadow: 0px 1.25rem 2.5rem 0px #ee4d4733;
          box-shadow: 0px 1.25rem 2.5rem 0px #ee4d4733;
}

.contact form input[type="text"]:focus, .contact form input[type="email"]:focus {
  border: 0.125rem solid #ee4d47;
  outline: 0.125rem solid #ee4d47;
}

.contact form input[type="text"]::-webkit-input-placeholder, .contact form input[type="email"]::-webkit-input-placeholder {
  font-weight: 300;
}

.contact form input[type="text"]:-ms-input-placeholder, .contact form input[type="email"]:-ms-input-placeholder {
  font-weight: 300;
}

.contact form input[type="text"]::-ms-input-placeholder, .contact form input[type="email"]::-ms-input-placeholder {
  font-weight: 300;
}

.contact form input[type="text"]::placeholder, .contact form input[type="email"]::placeholder {
  font-weight: 300;
}

.contact form input[type="text"] {
  grid-row: input1-start/input1-end;
}

.contact form input[type="email"] {
  grid-row: input2-start/input2-end;
}

.contact form input[type="submit"] {
  padding: 1.25rem 1.5rem;
  font-weight: 700;
  background: #ee4d47;
  color: #ffffff;
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
  grid-row: btn-start/btn-end;
}

footer {
  grid-column: 2/-2;
  -ms-grid-row: 13;
  -ms-grid-row-span: 1;
  grid-row: 13/14;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: inherit;
      grid-template-columns: inherit;
  grid-row-gap: 10.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .logo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

footer nav {
  -ms-grid-column: 8;
  -ms-grid-column-span: 4;
  grid-column: 8/12;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

footer p {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.875rem;
  color: #402b2b;
}

footer .socials {
  -ms-grid-column: 10;
  -ms-grid-column-span: 2;
  grid-column: 10/12;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5.75rem;
}

footer .socials .facebook,
footer .socials .twitter,
footer .socials .instagram {
  background-size: contain;
  background-repeat: no-repeat;
  width: 2.25rem;
  height: 2.25rem;
}

footer .socials .facebook {
  background-image: url(/src/asset/f.svg);
}

footer .socials .twitter {
  background-image: url(/src/asset/t.svg);
}

footer .socials .instagram {
  background-image: url(/src/asset/i.svg);
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer ul a {
  color: #ffffff;
}
/*# sourceMappingURL=style.css.map */