@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Rubik:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  @media screen and (max-width: 80em) {
    font-size: 15px;
  }
  @media screen and (max-width: 75em) {
    font-size: 13px;
  }
  @media screen and (max-width: 65em) {
    font-size: 11px;
  }
  @media screen and (max-width: 55em) {
    font-size: 10px;
  }
  //   @media screen and (max-width: 48em) {
  //     font-size: 9px;
  //   }
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: max-content max-content max-content;
  grid-row-gap: 7.5rem;
  background-color: #fef8f5;

  font-family: "Rubik", sans-serif;
}

header {
  padding: 1.5rem 0;
  display: grid;
  background-color: transparent;
  grid-template-columns: inherit;
  z-index: 15;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  align-items: center;

  .logo {
    grid-column: 2/4;
  }
  nav {
    grid-column: 7/12;
    justify-self: flex-end;
    ul {
      display: flex;

      li {
        margin-right: 0.5rem;
        a {
          padding: 1.25rem 1.5rem;
          font-size: 1rem;
          font-weight: 700;
          letter-spacing: 0.05em;
          color: #ffffff;
        }

        &:last-child {
          margin-right: 0;

          a {
            background-color: #ee4d47;
            border-radius: 4px;
          }
        }
      }
    }
  }
  #mobile-nav {
    display: none;
  }
  .mobile-nav-btn {
    display: none;
    grid-column: 11/12;
    grid-row: inherit;
    justify-self: flex-end;
  }
  @media screen and (max-width: 48em) {
    .mobile-nav-btn {
      display: block;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        background-color: #ee4d47;
        border-radius: 50%;
        width: 3.5rem;
        height: 3.5rem;
        top: 0;
        left: 0;
        transform: translate(-25%, -50%);
      }
    }
    .background {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ee4d47;
      width: 100vw;
      height: 100vh;
      z-index: -1;
      opacity: 0;
      transition: opacity 0.1s ease;
    }
    nav {
      display: none;
      grid-column: 1/-1;
      position: absolute;
      top: 9.5rem;
      left: 0;
      right: 0;
      justify-self: center;
      background-color: transparent;
      opacity: 0;
      visibility: hidden;
      height: 100vh;
      transition: all ease 0.5s;
      z-index: 12;

      ul {
        flex-direction: column;
        align-items: flex-end;

        li {
          a {
            padding: 1.25rem 1.5rem;
            font-size: 5rem;
            font-weight: 700;
            letter-spacing: 0.05em;
            color: #ffffff;
          }

          &:last-child {
            margin-right: 0;

            a {
              background-color: transparent;
            }
          }
        }
      }
    }

    .mobile-nav-icon {
      position: relative;
      transition: all 0.1s ease;

      &,
      &::before,
      &::after {
        width: 1.5rem;
        height: 0.1rem;
        background-color: #fff;
        display: inline-block;
      }
      &::before,
      &::after {
        position: absolute;
        content: "";
        left: 0;
        transition: all 0.5s ease;
      }
      &::before {
        top: 0.5rem;
      }
      &::after {
        top: -0.5rem;
      }
    }

    #mobile-nav:checked + .mobile-nav-btn .mobile-nav-icon {
      background-color: transparent;
    }
    #mobile-nav:checked + .mobile-nav-btn .mobile-nav-icon::before {
      top: 0;
      transform: rotate(45deg);
    }
    #mobile-nav:checked + .mobile-nav-btn .mobile-nav-icon::after {
      top: 0;
      transform: rotate(-45deg);
    }
    #mobile-nav:checked ~ nav {
      display: block;
      opacity: 1;
      visibility: visible;
    }
    #mobile-nav:checked ~ .background {
      opacity: 1;
      visibility: visible;
      transition: opacity 0.5s ease;
    }
  }
}
.addBg {
  background-color: #ee4d47;
}
.removeBg {
  background-color: transparent;
}
.hero {
  grid-column: 1/-1;
  grid-row: 1/5;
  background-image: url(/src/asset/heroBg.svg);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 0;

  @media screen and (max-width: 42.5em) {
    background-image: url(/src/asset/mobileBg.svg);
    background-size: cover;
    background-position: right;
  }

  display: grid;
  grid-template-columns: inherit;
  grid-template-rows: 11.875rem max-content 3.75rem max-content 11.25rem 20rem;
  color: #ffffff;

  //   @media screen and (max-width: 53em) {
  //     grid-template-rows: 11.875rem 32rem 3.75rem max-content 11.25rem;
  //   }
  h1 {
    grid-column: 2/8;
    grid-row: 2/3;
    font-family: "DM Serif Display", serif;
    font-size: 6.25rem;
    line-height: 6.25rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    z-index: 1;
    @media screen and (max-width: 49.875em) {
      font-size: 5.25rem;
      line-height: 5.25rem;
    }
    @media screen and (max-width: 42.5em) {
      grid-column: 2/12;
      font-size: 8.25rem;
      line-height: 10.25rem;
    }
    // @media screen and (max-width: 36.625em) {
    //   font-size: 8.25rem;
    //   line-height: 8.25rem;
    // }
    // @media screen and (max-width: 29.5em) {
    //   font-size: 7.25rem;
    //   line-height: 7.25rem;
    // }
    // @media screen and (max-width: 26.125em) {
    //   font-size: 6.25rem;
    //   line-height: 6.25rem;
    // }
  }
  .btn {
    grid-row: 4/5;
    grid-column: 2/8;
    padding: 1.25rem 1.5rem;
    background-color: #ee4d47;
    border-radius: 4px;
    justify-self: start;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.05em;
    z-index: 1;
    @media screen and (max-width: 42.5em) {
      font-size: 2rem;
    }
  }
}

.about {
  grid-column: 4/-2;
  grid-row: 5/6;

  display: grid;
  grid-template-columns: inherit;
  grid-template-rows: 4.625rem auto 2.5rem auto 4.375rem auto;

  h2 {
    grid-column: 1/4;
    grid-row: 2/3;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5rem;
    letter-spacing: 0.1em;
    color: #ee4d47;
  }
  .classic {
    grid-column: 1/6;
    grid-row: 4/5;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 2.5rem;
    color: #402b2b;
  }
  .special {
    grid-column: 1/7;
    grid-row: 6/7;
    background: #fcddd4;
    font-size: 1.5rem;
    font-weight: 500;
    color: #402b2b;
    border-left: 0.625rem solid #ed4d47;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;

    padding: 1.875rem 3.419375rem;
  }
  .delivery-man {
    grid-column: 6/12;
    grid-row: 1/-1;
    background-image: url(/src//asset/about.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }
  @media screen and (max-width: 41.875em) {
    grid-column: 2/-2;
    .special {
      grid-column: 1/7;
    }
    .delivery-man {
      grid-column: 6/13;
    }
  }
  @media screen and (max-width: 34.0625em) {
    .special {
      grid-column: 1/9;
    }
  }
}

.how-to {
  grid-column: 3/-2;
  grid-row: 6/7;

  display: grid;
  grid-template-columns: inherit;
  grid-template-rows: max-content 2.5rem auto;

  h2 {
    align-self: flex-end;
    grid-column: 6/9;
    grid-row: 1/2;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5rem;
    letter-spacing: 0.1em;
    color: #ee4d47;
  }
  .classic {
    grid-column: 6/11;
    grid-row: 3/4;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 2.5rem;
    color: #402b2b;
  }

  .customer-care {
    grid-column: 1/6;
    grid-row: 1/-1;

    background-image: url(/src//asset/apply.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }
  @media screen and (max-width: 41.875em) {
    grid-column: 2/-2;
    .classic {
      grid-column: 6/12;
    }
  }
}

.faq {
  grid-column: 4/-1;
  grid-row: 7/8;
  position: relative;
  z-index: 1;
  @media screen and (max-width: 41.875em) {
    grid-column: 2/-1;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 10%;
    bottom: 0;
    background: #fdede8;
    border-top-left-radius: 6.25rem;
    z-index: 0;
  }

  display: grid;
  grid-template-columns: inherit;
  grid-template-rows: 6.375rem 7.625rem max-content 2.75rem 12.5rem 5rem 5.625rem auto 13.875rem;

  h2 {
    grid-column: 1/2;
    grid-row: 3/4;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5rem;
    letter-spacing: 0.1em;
    color: #ee4d47;
    z-index: 1;
    align-self: center;
  }
  .classic {
    grid-column: 1/7;
    grid-row: 5/6;
    color: #402b2b;
    z-index: 1;
    font-family: "DM Serif Display", serif;
    font-size: 3rem;
    font-weight: 400;
    line-height: 4.1875rem;
    letter-spacing: 0em;
    align-self: center;
  }

  .man-thinking {
    grid-column: 6/12;
    grid-row: 2/7;
    background-image: url(/src/asset/faq.svg);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
  }
  .questions {
    z-index: 1;
    grid-column: 1/13;
    grid-row: 8/9;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(12, 8rem);
    grid-row-gap: 0.625rem;
    grid-column-gap: 1.25rem;

    & > li {
      align-self: center;

      &:nth-child(even) {
        grid-column: 5/9;
        @media screen and (max-width: 30em) {
          grid-column: 1/9;
          margin-bottom: 1rem;
        }
      }
      &:nth-child(odd) {
        grid-column: 1/5;
        @media screen and (max-width: 30em) {
          grid-column: 1/9;
          margin-bottom: 1rem;
        }
      }

      background-color: #ffffff;
      padding: 1.5625rem 7.17125rem;
      padding-left: 2.1875rem;
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 500;
      position: relative;
      cursor: pointer;
      border-radius: 10px;

      &::before {
        content: "";
        position: absolute;
        background-image: url(/src/asset/+.svg);
        background-size: contain;
        right: 2.1875rem;
        top: 50%;
        width: 1.25rem;
        height: 1.25rem;
        transform: translateY(-50%);
      }
    }
  }
  .answers {
    display: none;
    // background-color: yellow;
  }
}

.contact {
  grid-column: 1/-2;
  grid-row: 8/14;

  background-image: url(/src/asset/footerBg.svg);
  background-size: contain;
  background-repeat: no-repeat;

  display: grid;
  grid-template-rows: 3.75rem 13.125rem auto 4.375rem 11.25rem max-content 8.25rem;
  grid-template-columns: inherit;
  align-self: flex-end;
  @media screen and (max-width: 40.625em) {
    grid-column: 1/-1;

    background-size: cover;
    background-position: right;
  }

  @media screen and (max-width: 26.5625em) {
    grid-template-rows: 14.625rem 5.125rem auto 2rem auto 20rem;
  }

  p {
    grid-row: 3/4;
    grid-column: 2/6;
    color: #ffffff;
    padding: 0.625rem 2.5rem;
    padding-right: 0;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.875rem;
    border-left: 0.625rem solid #ed4d47;
    align-self: center;
    @media screen and (max-width: 26.5625em) {
      grid-column: 2/-2;
    }
  }

  form {
    grid-row: 2/4;
    grid-column: 7/12;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 1.25rem 2.5rem 0px #ee4d471a;

    @media screen and (max-width: 26.5625em) {
      grid-column: 2/-2;
      grid-row: 5/6;
    }

    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 3.25rem [label1-start] max-content [label1-end] 0.625rem [input1-start] max-content [input1-end] 1.875rem [label2-start] max-content [label2-end] 0.625rem [input2-start] max-content [input2-end] 30px [btn-start] max-content [btn-end] 3.25rem;

    label {
      font-size: 1rem;
      font-weight: 300;
      line-height: 2.5rem;
      grid-column: 2/-2;
      &[for="userName"] {
        grid-row: label1-start/label1-end;
      }
      &[for="email"] {
        grid-row: label2-start/label2-end;
      }
    }

    input {
      &[type="text"],
      &[type="email"] {
        grid-column: 2/-2;
        border-radius: 5px;
        border: 1px solid #ee4d4780;
        outline: 0.125rem solid transparent;
        font-size: 1.125rem;
        font-weight: 700;
        line-height: 2.5rem;
        padding: 0.75rem 2.5rem;
        box-shadow: 0px 1.25rem 2.5rem 0px #ee4d4733;

        &:focus {
          border: 0.125rem solid #ee4d47;
          outline: 0.125rem solid #ee4d47;
        }
        &::placeholder {
          font-weight: 300;
        }
      }
      &[type="text"] {
        grid-row: input1-start/input1-end;
      }
      &[type="email"] {
        grid-row: input2-start/input2-end;
      }
      &[type="submit"] {
        padding: 1.25rem 1.5rem;
        font-weight: 700;
        background: #ee4d47;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        grid-column: 2/5;
        grid-row: btn-start/btn-end;
        justify-self: flex-start;
      }
    }
  }
}

footer {
  grid-column: 2/-2;
  grid-row: 13/14;

  display: grid;
  grid-template-columns: inherit;
  grid-row-gap: 10.625rem;
  align-items: center;

  @media screen and (max-width: 26.5625em) {
    grid-column: 1/-1;
    grid-row-gap: 1.625rem;
    grid-row: 13/15;
    background-color: #0f264c;
  }

  .logo {
    grid-column: 1/3;
    grid-row: 1/2;
    @media screen and (max-width: 26.5625em) {
      grid-column: 2/4;
    }
  }
  nav {
    grid-column: 8/12;
    grid-row: 1/2;
    @media screen and (max-width: 26.5625em) {
      grid-column: 2/5;
      grid-row: 2/3;
    }
  }
  p {
    grid-column: 1/4;
    grid-row: 2/3;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.875rem;
    color: #402b2b;
    align-self: start;
    @media screen and (max-width: 40.625em) {
      color: #ffffff;
    }
    @media screen and (max-width: 26.5625em) {
      grid-row: 3/4;
      grid-column: 2/5;
    }
  }
  .socials {
    grid-column: 10/12;
    grid-row: 2/3;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.75rem;

    @media screen and (max-width: 26.5625em) {
      grid-column: 9/12;
      grid-row: 3/4;
    }

    .facebook,
    .twitter,
    .instagram {
      background-size: contain;
      background-repeat: no-repeat;
      width: 2.25rem;
      height: 2.25rem;
      cursor: pointer;
    }

    .facebook {
      background-image: url(/src/asset/f.svg);
    }
    .twitter {
      background-image: url(/src/asset/t.svg);
    }
    .instagram {
      background-image: url(/src/asset/i.svg);
    }
  }

  ul {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 26.5625em) {
      flex-direction: column;

      li {
        margin-bottom: 1rem;
      }
    }

    a {
      color: #ffffff;
    }
  }
}
