@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Rubik:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

@media screen and (max-width: 80em) {
  html {
    font-size: 15px;
  }
}

@media screen and (max-width: 75em) {
  html {
    font-size: 13px;
  }
}

@media screen and (max-width: 65em) {
  html {
    font-size: 11px;
  }
}

@media screen and (max-width: 55em) {
  html {
    font-size: 10px;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: max-content max-content max-content;
      grid-template-rows: -webkit-max-content -webkit-max-content -webkit-max-content;
      grid-template-rows: max-content max-content max-content;
  grid-row-gap: 7.5rem;
  background-color: #fef8f5;
  font-family: "Rubik", sans-serif;
}

header {
  padding: 1.5rem 0;
  display: -ms-grid;
  display: grid;
  background-color: transparent;
  -ms-grid-columns: inherit;
      grid-template-columns: inherit;
  z-index: 15;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
}

header nav {
  -ms-grid-column: 7;
  -ms-grid-column-span: 5;
  grid-column: 7/12;
  justify-self: flex-end;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul li {
  margin-right: 0.5rem;
}

header nav ul li a {
  padding: 1.25rem 1.5rem;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #ffffff;
}

header nav ul li:last-child {
  margin-right: 0;
}

header nav ul li:last-child a {
  background-color: #ee4d47;
  border-radius: 4px;
}

header #mobile-nav {
  display: none;
}

header .mobile-nav-btn {
  display: none;
  -ms-grid-column: 11;
  -ms-grid-column-span: 1;
  grid-column: 11/12;
  grid-row: inherit;
  justify-self: flex-end;
}

@media screen and (max-width: 48em) {
  header .mobile-nav-btn {
    display: block;
    position: relative;
  }
  header .mobile-nav-btn::before {
    content: "";
    position: absolute;
    background-color: #ee4d47;
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    top: 0;
    left: 0;
    -webkit-transform: translate(-25%, -50%);
            transform: translate(-25%, -50%);
  }
  header .background {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ee4d47;
    visibility: hidden;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    opacity: 0;
    -webkit-transition: opacity 0.1s ease;
    transition: opacity 0.1s ease;
  }
  header nav {
    display: none;
    grid-column: 1/-1;
    position: absolute;
    top: 9.5rem;
    left: 0;
    right: 0;
    -ms-grid-column-align: center;
        justify-self: center;
    background-color: transparent;
    opacity: 0;
    visibility: hidden;
    height: 100vh;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
    z-index: 12;
  }
  header nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  header nav ul li a {
    padding: 1.25rem 1.5rem;
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #ffffff;
  }
  header nav ul li:last-child {
    margin-right: 0;
  }
  header nav ul li:last-child a {
    background-color: transparent;
  }
  header .mobile-nav-icon {
    position: relative;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
  }
  header .mobile-nav-icon, header .mobile-nav-icon::before, header .mobile-nav-icon::after {
    width: 1.5rem;
    height: 0.1rem;
    background-color: #fff;
    display: inline-block;
  }
  header .mobile-nav-icon::before, header .mobile-nav-icon::after {
    position: absolute;
    content: "";
    left: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  header .mobile-nav-icon::before {
    top: 0.5rem;
  }
  header .mobile-nav-icon::after {
    top: -0.5rem;
  }
  header #mobile-nav:checked + .mobile-nav-btn .mobile-nav-icon {
    background-color: transparent;
  }
  header #mobile-nav:checked + .mobile-nav-btn .mobile-nav-icon::before {
    top: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  header #mobile-nav:checked + .mobile-nav-btn .mobile-nav-icon::after {
    top: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  header #mobile-nav:checked ~ nav {
    display: block;
    opacity: 1;
    visibility: visible;
  }
  header #mobile-nav:checked ~ .background {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
  }
}

.addBg {
  background-color: #ee4d47;
}

.removeBg {
  background-color: transparent;
}

.hero {
  grid-column: 1/-1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1/5;
  background-image: url(/src/asset/heroBg.svg);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: inherit;
      grid-template-columns: inherit;
  -ms-grid-rows: 11.875rem max-content 3.75rem max-content 11.25rem 20rem;
      grid-template-rows: 11.875rem -webkit-max-content 3.75rem -webkit-max-content 11.25rem 20rem;
      grid-template-rows: 11.875rem max-content 3.75rem max-content 11.25rem 20rem;
  color: #ffffff;
}

@media screen and (max-width: 42.5em) {
  .hero {
    background-image: url(/src/asset/mobileBg.svg);
    background-size: cover;
    background-position: right;
  }
}

.hero h1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2/8;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  font-family: "DM Serif Display", serif;
  font-size: 6.25rem;
  line-height: 6.25rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  z-index: 1;
}

@media screen and (max-width: 49.875em) {
  .hero h1 {
    font-size: 5.25rem;
    line-height: 5.25rem;
  }
}

@media screen and (max-width: 42.5em) {
  .hero h1 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2/12;
    font-size: 8.25rem;
    line-height: 10.25rem;
  }
}

@media screen and (max-width: 28.25em) {
  .hero h1 {
    font-size: 5.25rem;
    line-height: 8.25rem;
  }
}

.hero .btn {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 7;
  grid-column: 2/9;
  padding: 1.25rem 1.5rem;
  background-color: #ee4d47;
  border-radius: 4px;
  -ms-grid-column-align: start;
      justify-self: start;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  z-index: 1;
}

@media screen and (max-width: 42.5em) {
  .hero .btn {
    font-size: 2rem;
  }
}

.about {
  grid-column: 4/-2;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: inherit;
      grid-template-columns: inherit;
  -ms-grid-rows: 4.625rem auto 2.5rem auto 4.375rem auto;
      grid-template-rows: 4.625rem auto 2.5rem auto 4.375rem auto;
}

.about h2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 0.1em;
  color: #ee4d47;
  justify-self: flex-start;
}

.about .classic {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/6;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 2.5rem;
  color: #402b2b;
}

.about .special {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
  background: #fcddd4;
  font-size: 1.5rem;
  font-weight: 500;
  color: #402b2b;
  border-left: 0.625rem solid #ed4d47;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 1.875rem 3.419375rem;
}

.about .delivery-man {
  -ms-grid-column: 6;
  -ms-grid-column-span: 6;
  grid-column: 6/12;
  grid-row: 1/-1;
  background-image: url(/src//asset/about.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-width: 41.875em) {
  .about {
    grid-column: 2/-2;
  }
  .about .special {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1/7;
  }
  .about .delivery-man {
    -ms-grid-column: 6;
    -ms-grid-column-span: 7;
    grid-column: 6/13;
  }
}

@media screen and (max-width: 34.0625em) {
  .about .special {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
  }
}

.how-to {
  grid-column: 3/-2;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: inherit;
      grid-template-columns: inherit;
  -ms-grid-rows: max-content 2.5rem auto;
      grid-template-rows: -webkit-max-content 2.5rem auto;
      grid-template-rows: max-content 2.5rem auto;
}

.how-to h2 {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -ms-grid-column: 6;
  -ms-grid-column-span: 6;
  grid-column: 6/12;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 0.1em;
  color: #ee4d47;
}

.how-to .classic {
  -ms-grid-column: 6;
  -ms-grid-column-span: 5;
  grid-column: 6/11;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 2.5rem;
  color: #402b2b;
}

.how-to .customer-care {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/6;
  grid-row: 1/-1;
  background-image: url(/src//asset/apply.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-width: 41.875em) {
  .how-to {
    grid-column: 2/-2;
  }
  .how-to .classic {
    -ms-grid-column: 6;
    -ms-grid-column-span: 6;
    grid-column: 6/12;
  }
}

.faq {
  grid-column: 4/-1;
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7/8;
  position: relative;
  z-index: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: inherit;
      grid-template-columns: inherit;
  -ms-grid-rows: 6.375rem 7.625rem max-content 2.75rem 12.5rem 5rem 5.625rem auto 13.875rem;
      grid-template-rows: 6.375rem 7.625rem -webkit-max-content 2.75rem 12.5rem 5rem 5.625rem auto 13.875rem;
      grid-template-rows: 6.375rem 7.625rem max-content 2.75rem 12.5rem 5rem 5.625rem auto 13.875rem;
}

@media screen and (max-width: 41.875em) {
  .faq {
    grid-column: 2/-1;
  }
}

.faq::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 10%;
  bottom: 0;
  background: #fdede8;
  border-top-left-radius: 6.25rem;
  z-index: 0;
}

.faq h2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 0.1em;
  color: #ee4d47;
  z-index: 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.faq .classic {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  color: #402b2b;
  z-index: 1;
  font-family: "DM Serif Display", serif;
  font-size: 3rem;
  font-weight: 400;
  line-height: 4.1875rem;
  letter-spacing: 0em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (max-width: 28.5em) {
  .faq .classic {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
  }
}

@media screen and (max-width: 21.125em) {
  .faq .classic {
    -ms-grid-column: 1;
    -ms-grid-column-span: 10;
    grid-column: 1/11;
  }
}

.faq .man-thinking {
  -ms-grid-column: 6;
  -ms-grid-column-span: 6;
  grid-column: 6/12;
  -ms-grid-row: 2;
  -ms-grid-row-span: 5;
  grid-row: 2/7;
  background-image: url(/src/asset/faq.svg);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}

.faq .questions {
  z-index: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8/9;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[9];
      grid-template-columns: repeat(9, 1fr);
  -ms-grid-rows: (8rem)[12];
      grid-template-rows: repeat(12, 8rem);
  grid-row-gap: 0.625rem;
  grid-column-gap: 1.25rem;
}

.faq .questions > li {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #ffffff;
  padding: 1.5625rem 7.17125rem;
  padding-left: 2.1875rem;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
}

.faq .questions > li:nth-child(even) {
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5/9;
}

@media screen and (max-width: 30em) {
  .faq .questions > li:nth-child(even) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
    margin-bottom: 1rem;
  }
}

.faq .questions > li:nth-child(odd) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
}

@media screen and (max-width: 30em) {
  .faq .questions > li:nth-child(odd) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
    margin-bottom: 1rem;
  }
}

.faq .questions > li::before {
  content: "";
  position: absolute;
  background-image: url(/src/asset/+.svg);
  background-size: contain;
  right: 2.1875rem;
  top: 50%;
  width: 1.25rem;
  height: 1.25rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.faq .answers {
  display: none;
}

.contact {
  grid-column: 1/-2;
  -ms-grid-row: 8;
  -ms-grid-row-span: 6;
  grid-row: 8/14;
  background-image: url(/src/asset/footerBg.svg);
  background-size: contain;
  background-repeat: no-repeat;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 3.75rem 13.125rem auto 4.375rem 11.25rem max-content 8.25rem;
      grid-template-rows: 3.75rem 13.125rem auto 4.375rem 11.25rem -webkit-max-content 8.25rem;
      grid-template-rows: 3.75rem 13.125rem auto 4.375rem 11.25rem max-content 8.25rem;
  -ms-grid-columns: inherit;
      grid-template-columns: inherit;
  align-self: flex-end;
}

@media screen and (max-width: 40.625em) {
  .contact {
    grid-column: 1/-1;
    background-size: cover;
    background-position: right;
  }
}

@media screen and (max-width: 26.5625em) {
  .contact {
    -ms-grid-rows: 14.625rem 5.125rem auto 2rem auto 20rem;
        grid-template-rows: 14.625rem 5.125rem auto 2rem auto 20rem;
  }
}

.contact p {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
  color: #ffffff;
  padding: 0.625rem 2.5rem;
  padding-right: 0;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.875rem;
  border-left: 0.625rem solid #ed4d47;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (max-width: 26.5625em) {
  .contact p {
    grid-column: 2/-2;
  }
}

.contact form {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  -ms-grid-column: 7;
  -ms-grid-column-span: 5;
  grid-column: 7/12;
  background-color: #ffffff;
  border-radius: 10px;
  -webkit-box-shadow: 0px 1.25rem 2.5rem 0px #ee4d471a;
          box-shadow: 0px 1.25rem 2.5rem 0px #ee4d471a;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[9];
      grid-template-columns: repeat(9, 1fr);
  -ms-grid-rows: 3.25rem [label1-start] max-content [label1-end] 0.625rem [input1-start] max-content [input1-end] 1.875rem [label2-start] max-content [label2-end] 0.625rem [input2-start] max-content [input2-end] 30px [btn-start] max-content [btn-end] 3.25rem;
      grid-template-rows: 3.25rem [label1-start] -webkit-max-content [label1-end] 0.625rem [input1-start] -webkit-max-content [input1-end] 1.875rem [label2-start] -webkit-max-content [label2-end] 0.625rem [input2-start] -webkit-max-content [input2-end] 30px [btn-start] -webkit-max-content [btn-end] 3.25rem;
      grid-template-rows: 3.25rem [label1-start] max-content [label1-end] 0.625rem [input1-start] max-content [input1-end] 1.875rem [label2-start] max-content [label2-end] 0.625rem [input2-start] max-content [input2-end] 30px [btn-start] max-content [btn-end] 3.25rem;
}

@media screen and (max-width: 26.5625em) {
  .contact form {
    grid-column: 2/-2;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
  }
}

.contact form label {
  font-size: 1rem;
  font-weight: 300;
  line-height: 2.5rem;
  grid-column: 2/-2;
}

.contact form label[for="userName"] {
  grid-row: label1-start/label1-end;
}

.contact form label[for="email"] {
  grid-row: label2-start/label2-end;
}

.contact form input[type="text"], .contact form input[type="email"] {
  grid-column: 2/-2;
  border-radius: 5px;
  border: 1px solid #ee4d4780;
  outline: 0.125rem solid transparent;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 2.5rem;
  padding: 0.75rem 2.5rem;
  -webkit-box-shadow: 0px 1.25rem 2.5rem 0px #ee4d4733;
          box-shadow: 0px 1.25rem 2.5rem 0px #ee4d4733;
}

.contact form input[type="text"]:focus, .contact form input[type="email"]:focus {
  border: 0.125rem solid #ee4d47;
  outline: 0.125rem solid #ee4d47;
}

.contact form input[type="text"]::-webkit-input-placeholder, .contact form input[type="email"]::-webkit-input-placeholder {
  font-weight: 300;
}

.contact form input[type="text"]:-ms-input-placeholder, .contact form input[type="email"]:-ms-input-placeholder {
  font-weight: 300;
}

.contact form input[type="text"]::-ms-input-placeholder, .contact form input[type="email"]::-ms-input-placeholder {
  font-weight: 300;
}

.contact form input[type="text"]::placeholder, .contact form input[type="email"]::placeholder {
  font-weight: 300;
}

.contact form input[type="text"] {
  grid-row: input1-start/input1-end;
}

.contact form input[type="email"] {
  grid-row: input2-start/input2-end;
}

.contact form input[type="submit"] {
  padding: 1.25rem 1.5rem;
  font-weight: 700;
  background: #ee4d47;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
  grid-row: btn-start/btn-end;
  justify-self: flex-start;
}

footer {
  grid-column: 2/-2;
  -ms-grid-row: 13;
  -ms-grid-row-span: 1;
  grid-row: 13/14;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: inherit;
      grid-template-columns: inherit;
  grid-row-gap: 10.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 26.5625em) {
  footer {
    grid-column: 1/-1;
    grid-row-gap: 1.625rem;
    -ms-grid-row: 13;
    -ms-grid-row-span: 2;
    grid-row: 13/15;
    background-color: #0f264c;
  }
}

footer .logo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

@media screen and (max-width: 26.5625em) {
  footer .logo {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
  }
}

footer nav {
  -ms-grid-column: 8;
  -ms-grid-column-span: 4;
  grid-column: 8/12;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

@media screen and (max-width: 26.5625em) {
  footer nav {
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2/5;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}

footer p {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.875rem;
  color: #402b2b;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

@media screen and (max-width: 40.625em) {
  footer p {
    color: #ffffff;
  }
}

@media screen and (max-width: 26.5625em) {
  footer p {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2/5;
  }
}

footer .socials {
  -ms-grid-column: 10;
  -ms-grid-column-span: 2;
  grid-column: 10/12;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0.75rem;
}

@media screen and (max-width: 26.5625em) {
  footer .socials {
    -ms-grid-column: 9;
    -ms-grid-column-span: 3;
    grid-column: 9/12;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
}

footer .socials .facebook,
footer .socials .twitter,
footer .socials .instagram {
  background-size: contain;
  background-repeat: no-repeat;
  width: 2.25rem;
  height: 2.25rem;
  cursor: pointer;
}

footer .socials .facebook {
  background-image: url(/src/asset/f.svg);
}

footer .socials .twitter {
  background-image: url(/src/asset/t.svg);
}

footer .socials .instagram {
  background-image: url(/src/asset/i.svg);
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 26.5625em) {
  footer ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer ul li {
    margin-bottom: 1rem;
  }
}

footer ul a {
  color: #ffffff;
}
/*# sourceMappingURL=style.css.map */